In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("C:\\Users\\lenovo\\Downloads\\dairy_dataset.csv")
df.head(10)

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40
5,Telangana,87.64,51,Medium,2019-01-07,6,Curd,Raj,593.92,85.54,...,2019-01-03,2019-01-08,74,84.75,6271.50,Gujarat,Retail,519,55.60,139.59
6,Karnataka,73.28,74,Small,2022-08-05,3,Cheese,Dynamix Dairies,757.14,36.83,...,2022-06-14,2022-09-05,410,32.66,13390.60,Karnataka,Online,347,49.82,105.86
7,Bihar,67.61,77,Medium,2019-02-14,9,Paneer,Mother Dairy,203.36,29.08,...,2019-01-06,2019-01-20,15,29.09,436.35,Haryana,Online,188,10.90,25.14
8,West Bengal,72.31,76,Medium,2020-08-02,6,Curd,Raj,949.12,22.79,...,2020-06-06,2020-06-12,860,24.77,21302.20,Jharkhand,Wholesale,89,85.71,32.03
9,Telangana,413.24,36,Large,2022-03-04,8,Buttermilk,Mother Dairy,385.64,42.08,...,2022-02-03,2022-02-12,108,46.15,4984.20,Tamil Nadu,Retail,277,93.61,66.26

# is total land area depends on number of cows

In [8]:
number_of_cows = np.array(df["Total Land Area (acres)"])
farm_size = np.array(df["Number of Cows"])
my_rho = np.corrcoef([number_of_cows, farm_size])
print(my_rho)

[[ 1.        -0.0095939]
 [-0.0095939  1.       ]]

In [9]:
#with the help of uppper matrix we can say that tatal land area not depends on number of cows

# what is the average expiry days of each product.

In [8]:
group_by = df.groupby("Product Name").agg({"Shelf Life (days)":"mean"})
group_by

              Shelf Life (days)
Product Name
Butter                32.932715
Buttermilk            10.572414
Cheese                57.324190
Curd                   6.025052
Ghee                 105.741294
Ice Cream             25.458629
Lassi                 14.847875
Milk                  12.923077
Paneer                10.662132
Yogurt                25.517162

# what is the average expiry days of each product.

In [10]:
group_by = df.groupby("Product Name").agg({"Shelf Life (days)":"mean"})
group_by

              Shelf Life (days)
Product Name
Butter                32.932715
Buttermilk            10.572414
Cheese                57.324190
Curd                   6.025052
Ghee                 105.741294
Ice Cream             25.458629
Lassi                 14.847875
Milk                  12.923077
Paneer                10.662132
Yogurt                25.517162

# mention the name of the products with max and min shelf life

In [12]:
high_shelf_life = df["Shelf Life (days)"].idxmax()
high_shelf_life

875

In [13]:
low_shelf_life = df["Shelf Life (days)"].idxmin()
low_shelf_life

15

# summarize the data on the basis of brands and land acquired by them,cows and the revenue generated by them.

In [14]:
group_by = df.groupby(['Brand']).agg({"Total Land Area (acres)":"sum","Number of Cows":"sum", "Approx. Total Revenue(INR)":"sum"})
group_by

,Total Land Area (acres),Number of Cows,Approx. Total Revenue(INR)
Brand,,,
Amul,528377.46,56873,14608864.46
Britannia Industries,51221.94,4968,1029522.05
Dodla Dairy,111974.65,12354,2604857.37
Dynamix Dairies,55356.87,5637,1479884.78
Mother Dairy,497118.15,56517,13766786.47
Palle2patnam,106237.70,11705,2528989.12
Parag Milk Foods,53690.47,5204,1516697.71
Passion Cheese,50724.93,5353,1498653.15
Raj,346073.91,36957,9560777.64
Sudha,328411.07,36467,8370109.56
Warana,48377.14,5683,1769505.55

# What is the average shelf life for different storage conditions.

In [16]:
group_by = df.groupby(["Brand","Product Name","Storage Condition"]).agg({"Shelf Life (days)":"mean"})
group_by

                                                     Shelf Life (days)
Brand                Product Name Storage Condition
Amul                 Butter       Frozen                     33.679245
                                  Refrigerated               32.018182
                     Buttermilk   Refrigerated               11.044944
                     Cheese       Frozen                     58.387755
                                  Refrigerated               58.080645
                     Curd         Refrigerated                6.099174
                     Ghee         Ambient                   105.105263
                     Ice Cream    Frozen                     25.283019
                     Lassi        Refrigerated               14.888889
                     Milk         Polythene Packet            1.471698
                                  Tetra Pack                 25.565217
                     Paneer       Refrigerated               10.789474
                     Yogurt       Frozen                     25.403846
                                  Refrigerated               25.733333
Britannia Industries Cheese       Frozen                     57.956522
                                  Refrigerated               59.309524
Dodla Dairy          Ice Cream    Frozen                     25.314286
                     Yogurt       Frozen                     25.152542
                                  Refrigerated               25.362069
Dynamix Dairies      Cheese       Frozen                     53.000000
                                  Refrigerated               56.135593
Mother Dairy         Butter       Frozen                     32.894737
                                  Refrigerated               32.433333
                     Buttermilk   Refrigerated               10.466102
                     Curd         Refrigerated                5.949580
                     Ghee         Ambient                   107.721154
                     Ice Cream    Frozen                     25.812500
                     Lassi        Refrigerated               14.981308
                     Milk         Polythene Packet            1.466667
                                  Tetra Pack                 25.491228
                     Paneer       Refrigerated               10.630252
                     Yogurt       Frozen                     25.930233
                                  Refrigerated               24.740741
Palle2patnam         Ice Cream    Frozen                     25.400000
                     Yogurt       Frozen                     26.080000
                                  Refrigerated               25.836066
Parag Milk Foods     Butter       Frozen                     32.236364
                                  Refrigerated               32.936170
Passion Cheese       Cheese       Frozen                     54.650000
                                  Refrigerated               60.339286
Raj                  Buttermilk   Refrigerated               10.598214
                     Curd         Refrigerated                5.915966
                     Ghee         Ambient                   104.105769
                     Lassi        Refrigerated               14.904762
                     Milk         Polythene Packet            1.400000
                                  Tetra Pack                 25.924528
                     Paneer       Refrigerated               10.306306
Sudha                Buttermilk   Refrigerated               10.293103
                     Curd         Refrigerated                6.133333
                     Ghee         Ambient                   105.989899
                     Lassi        Refrigerated               14.577320
                     Milk         Polythene Packet            1.557692
                                  Tetra Pack                 25.208333
                     Paneer       Refrigerated               10.931034
Warana               Butter       Frozen                     33.049180
                                  Refrigerated               34.651163